In [18]:
import pandas as pd
from sqlalchemy import create_engine

In [19]:
yelp_json = 'Yelp_Data/yelp_business.json'
with open (yelp_json,'r', encoding='utf-8') as cmnts:
    all_entries = cmnts.readlines()
    
parsable_data = "[" + ','.join(all_entries).replace('\n','') + "]"
yelp_df = pd.read_json(parsable_data)
yelp_df.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,1314 44 Avenue NE,"{'BikeParking': 'False', 'BusinessAcceptsCredi...",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",Calgary,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0'...",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,24,4.0,AB
1,,"{'Alcohol': 'none', 'BikeParking': 'False', 'B...",AjEbIBw6ZFfln7ePHha9PA,"Chicken Wings, Burgers, Caterers, Street Vendo...",Henderson,"{'Friday': '17:0-23:0', 'Saturday': '17:0-23:0...",0,35.960734,-114.939821,CK'S BBQ & Catering,,89002,3,4.5,NV
2,1335 rue Beaubien E,"{'Alcohol': 'beer_and_wine', 'Ambience': '{'ro...",O8S5hYJ1SMc8fA4QBtVujA,"Breakfast & Brunch, Restaurants, French, Sandw...",Montréal,"{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'...",0,45.540503,-73.599300,La Bastringue,Rosemont-La Petite-Patrie,H2G 1K7,5,4.0,QC
3,211 W Monroe St,None,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",Phoenix,None,1,33.449999,-112.076979,Geico Insurance,,85003,8,1.5,AZ
4,2005 Alyth Place SE,{'BusinessAcceptsCreditCards': 'True'},8USyCYqpScwiNEb58Bt6CA,"Home & Garden, Nurseries & Gardening, Shopping...",Calgary,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,51.035591,-114.027366,Action Engine,,T2H 0N5,4,2.0,AB

In [27]:
new_yelp_df = yelp_df[['name','categories','address','city','state','postal_code','hours','review_count','stars' ]].copy()

new_yelp_df.head()

,name,categories,address,city,state,postal_code,hours,review_count,stars
0,Minhas Micro Brewery,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",1314 44 Avenue NE,Calgary,AB,T2E 6L6,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0'...",24,4.0
1,CK'S BBQ & Catering,"Chicken Wings, Burgers, Caterers, Street Vendo...",,Henderson,NV,89002,"{'Friday': '17:0-23:0', 'Saturday': '17:0-23:0...",3,4.5
2,La Bastringue,"Breakfast & Brunch, Restaurants, French, Sandw...",1335 rue Beaubien E,Montréal,QC,H2G 1K7,"{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'...",5,4.0
3,Geico Insurance,"Insurance, Financial Services",211 W Monroe St,Phoenix,AZ,85003,None,8,1.5
4,Action Engine,"Home & Garden, Nurseries & Gardening, Shopping...",2005 Alyth Place SE,Calgary,AB,T2H 0N5,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",4,2.0

In [28]:
rds_connection_string = "root:shazam@127.0.0.1/restaurant_db"
engine = create_engine(f'mysql://{rds_connection_string}')

ModuleNotFoundError: No module named 'MySQLdb'

In [26]:
yelp_df[restaurants]

ValueError: cannot index with vector containing NA / NaN values